<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngFor="let movie of movieDescription">{{movie.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons style="padding: 10px; cursor: pointer;" *ngIf="selected.length > 0" slot="end"
      [routerLink]="['/shoppingcart']">
      <ion-icon name="cart-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let movie of relatedPost">
    <ion-card-header class="ion-text-center" *ngIf="movie.images">
      <img src="{{movie.images}}" height="295px" width="500px">
    </ion-card-header>
    <ion-card-content>
      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label color="success">Location: </ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>{{movie.location}}</ion-label><br />
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label color="success">Premium seat price(per person): </ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>{{movie.premiumPrice}}</ion-label><br />
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label color="success">Total number of premium seats available: </ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>{{movie.premiumSeats}}</ion-label><br />
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label color="success">Normal seat price(per person): </ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>{{movie.price}}</ion-label><br />
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label color="success">Overall seats: </ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>{{movie.normalSeats}}</ion-label><br />
        </ion-col>
      </ion-row>

      <ion-row style="border-bottom: groove;" *ngIf="movie.legalName != '' || movie.customOrganizationName != ''">
        <ion-col col-4>
          <ion-label color="success">Cinema name: </ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label *ngIf="movie.legalName != ''">{{movie.legalName}}</ion-label>
          <ion-label *ngIf="movie.customOrganizationName != ''">{{movie.customOrganizationName}}</ion-label>
        </ion-col>
      </ion-row>
      <!-- <ion-button expand="block" fill="outline" [disabled]="disableOtherBookSeats == true"
        (click)="seatCalculation(movie.id,movie.name,movie.location,movie.normalSeats,movie.price,movie.premiumSeats,movie.premiumPrice)">
        Book
        seats
      </ion-button> -->
    </ion-card-content>
  </ion-card>

  <div>
    <ul *ngFor="let movies of relatedMoviesList" style="cursor: pointer; outline: none;">
      <li>
        <ion-card (click)="presentModal(movies.id,movies.name,movies.location,movies.normalSeats,movies.price,movies.premiumSeats,movies.premiumPrice)">
          <ion-card-content>
            <ion-text color="secondary">{{movies.legalName}}</ion-text><br /><br />
        <ion-text color="success">Premium price: {{movies.premiumPrice}} </ion-text><br /><br />
        <ion-text>Price: Rs{{movies.price}}</ion-text>
          </ion-card-content>
        </ion-card>
      </li>
    </ul>
  </div>

  <!-- Seat booking -->

</ion-content>