<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Book seats</ion-title>
    <ion-buttons slot="end" color="danger" (click)="dismiss()" style="cursor: pointer;">
      <ion-icon size="large" name="close-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="totalNormalSeats.length != 0 || totalPremiumSeats.length != 0" class="ion-text-center"
    style="padding-top: 20px;">
    <ion-text>
      <ion-icon name="bed" color="danger"></ion-icon> Normal seat &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-icon name="bed" color="success"></ion-icon> Premium seat
    </ion-text>
    <br /><br />
    <ion-text>Click on person icon to select seats.Selected seats will be displace below</ion-text>
  </div>

  <ion-card *ngIf="totalNormalSeats.length != 0 || totalPremiumSeats.length != 0">
    <ion-card-content>
      <ul *ngFor="let seats of totalNormalSeats">
        <li *ngIf="seats.id !=''">
          <ion-button fill="clear"
            (click)="selectedSeat(seats.sellerProductId,seats.name,seats.images,seats.location,seats.id, seats.price, seats.type)">
            <ion-icon name="person" style="font-size: 20px;"></ion-icon>
          </ion-button>
        </li>
      </ul><br /><br />

      <ul *ngFor="let seats of totalPremiumSeats">
        <li>
          <ion-button fill="clear"
            (click)="selectedSeat(seats.sellerProductId,seats.name,seats.images,seats.location,seats.id, seats.price, seats.type)">
            <ion-icon color="success" name="person" style="font-size: 20px;"></ion-icon>
          </ion-button>
        </li>
      </ul>
    </ion-card-content>
  </ion-card>

  <div class="ion-text-center" *ngIf="selected.length > 0">
    <ion-text color="success">Overview</ion-text>
  </div><br />
  <ion-card *ngFor="let selectedSeats of selected">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size-xs="10" size-sm="10" size-lg="10" sige-xl="10" size-md="10">
            <ion-label color="secondary">Booked seat id:</ion-label> &nbsp;
            <ion-label> {{selectedSeats.id}}</ion-label><br />

            <ion-label color="secondary">Price:</ion-label> &nbsp;
            <ion-label> {{selectedSeats.price}}</ion-label><br />

            <ion-label color="success" *ngIf="selectedSeats.type == 'premiumSeat'">Premium price:</ion-label> &nbsp;
            <ion-label *ngIf="selectedSeats.type == 'premiumSeat'"> {{selectedSeats.premiumPrice}}</ion-label><br />
          </ion-col>
          <ion-col size-xs="2" size-sm="2" size-lg="2" sige-xl="2" size-md="2"
            (click)="deleteSeat(selectedSeats.id,selectedSeats.type,selectedSeats.sellerProductId)">
            <ion-button fill="clear" color="danger">
              <ion-icon size="large" name="trash-bin-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" fill="outline" [routerLink]="['/shoppingcart']" (click)="dismiss()">Move to cart
  </ion-button>
</ion-content>